html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  display: flex;
  flex-direction: column;
}

.page-background {
  position: relative;
  background-image: url("../assets/leonardo-man-transparent-2.jpg");
  background-size: cover;

}

.black-curtain {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background: #111;
}

.black-curtain {
  -webkit-animation: black-curtain 0s ease-in-out 6s forwards;
  animation: black-curtain 0s ease-in-out 6s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes black-curtain {
  to {
      height: 0;
      overflow:hidden;
      visibility: hidden;
  }
}

.curtain-title-box {
  font-family: 'Eagle Lake', cursive;
  width: 0;
  margin-left: calc(50% - 310px);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: title 3s linear 0s forwards;
  animation: title 3s linear 0s forwards;
}

@keyframes title {
  to {
    width: 620px;
  }
}

.curtain-title {
  font-size: 80px;
  color: #fff;
}

.curtain-subtitle-box {
  width: 0;
  margin-left: calc(50% - 200px);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: subtitle 3s linear 3s forwards;
  animation: subtitle 3s linear 3s forwards;
}

@keyframes subtitle {
  to {
    width: 398px;
  }
}

.curtain-subtitle {
  font-family: 'Eagle Lake', cursive;
  font-size: 24px;
  padding-top: 6px;
  color: #fff;
}

.bigger{
  font-size: 30px;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.definition {
  width: 80%;
  line-height: 30px;
  font-family: 'Eagle Lake', cursive;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #925858;
  text-align: center;
}

.main-content-flexbox {
  display: flex;
  justify-content: space-between;
  width: 90%
}

.main-story {
  width: 55%;
  height: 100%;
  background: rgba(255, 255, 255, .55);
  border: 1px solid #828080;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  line-height: 24px;
  margin-bottom: 25px;
}

h4 {
  font-size: 28px;
  text-align: center;
  padding: 10px 0 20px 0;
}

.right-content-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.portrait {
  width: 400px;
  height: 400px;
  background-image: url("../assets/selfie-for-web.jpg");
  background-size: cover;
  border: 1px solid #000;
  box-shadow: 2px 5px 4px #666;
  margin-top: 50px;
  margin-bottom: 20px;


}

.contact-btn, .carnival-btn {
  padding: 10px 150px;
  border-radius: 10px;
  box-shadow: 7px 9px 8px #969595;
  outline: none;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

.contact-btn:hover, .carnival-btn:hover {
  cursor: pointer;
}

.contact-btn:active, .carnival-btn:active {
  box-shadow: 2px 5px 4px #666;
  transform: translateY(4px);
}

.modal-window-contact {
  position: absolute;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.show {
  display: flex;
}

.contact-box {
  position: relative;
  width: 402px;
  height: 602px;
  background-color: #fff;
  top: 100px;
  border: 1px solid #000;
}

.contact-box-info {
  width: 100%;
}

h3 {
  font-size: 40px;
  text-align: center;
  padding: 15px 0;
}

.contact-info {
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
}

.close-contact {
  position: absolute;
  font-size: 34px;
  top: 6px;
  right: 6px;
}

.close-contact:hover {
  cursor: pointer;
}

.modal-window-carnival {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.carnival-flexbox {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.carnival-tools-window{
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid #000;
  background-color: white;
  margin-right: 10px;
}

.close-contact-tools {
  position: absolute;
  font-size: 34px;
  top: 6px;
  right: 6px;
}

.close-contact-tools:hover {
  cursor: pointer;
}

.hat-tools {
  position: absolute;
  height: 130px;
  width: 305px;
  top: 5px;
  left: 45px;
  z-index: 300;
}

.hat-tools {
  cursor: pointer;
}

.glasses-tools {
  position: absolute;
  height: 170px;
  width: 180px;
  top: 135px;
  left: 105px;
  z-index: 100;
}

.glasses-tools {
  cursor: pointer;
}

.moustache-tools {
  position: absolute;
  height: 100px;
  width: 280px;
  top: 275px;
  left: 55px;
  z-index: 200;
}

.moustache-tools:hover {
  cursor: pointer;
}


.carnival-display-window {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url("../assets/selfie-for-web.jpg");
  background-size: cover;
  border: 2px solid #000;
  margin-left: 10px;
}

.hat {
  position: absolute;
  display: none;
  height: 150px;
  width: 325px;
  top: 5px;
  left: 75px;
}

.glasses {
  position: absolute;
  display: none;
  height: 190px;
  width: 200px;
  top: 115px;
  left: 145px;
}

.moustache {
  position: absolute;
  display: none;
  height: 100px;
  width: 300px;
  top: 225px;
  left: 100px;
}

.text-tools {
  position: absolute;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  left: 20px;
  bottom: 5px;
}

.show-carnival {
  display: inherit;
}
